body{background-color: #FCEBB6;
    color: #221811;
    font-family: Arial, Verdana, sans-serif;
}
h1{
    text-align: center;
    background-color: #D2B48C;
    line-height: 200%;  
}
nav{
    text-align: center;
    font-weight: bold;
}
footer{
    background-color: #D2B48C;
    font-size: .60em;
    font-style: italic; 
    text-align: center;   
}
#wrapper {margin-left: auto; margin-right: auto; width: 80%;}